body {
	margin: 5px;
	border-radius: 10px;
	font-family: Georgia;
}

.jumbotron {
	background-color: #003300;
	color: #fff;
	padding: 100px 25px;
}
.container-fluid {
	background-color: #003300;
	color: #fff;
	padding: 60px 50px;
}
.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
	color: #003300;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}
